hr.style1 {
    border: 3px solid black;
    border-radius: 10px;
}

body {background-color: white;
}
div {background-color: #b31b90;
    height: 725px;
    width: 70%;
    background-color: powderblue;
    text-align: center;
    border-radius: 5%;
}

textarea {
    border-radius: 5%;
    background-color: #ecf19a;

}

input[type=text] {
    border-radius: 5%;
    background-color: #ecf19a;
}

input[type=email] {
    border-radius: 5%;
    background-color: #ecf19a;
}

input[type=password] {
    border-radius: 5%;
    background-color: #ecf19a;
}

